body{
font-family: sans-serif;
background:#FCE6FA;
text-align:center;
}

div{
margin-top:5px;

}

.input{
border-radius:4px;
background: #FF00FF;
border:2px solid #C71585;
color:white;
text-align:center;
font-size:20px;
}

.invalidinput{
background: red;
}

.button, .BorrarTodo{
border-radius:4px;
background: #FF00FF;
border:2px solid #C71585;
color:white;
text-align:center;
font-size:20px;
margin-top:12px;
margin-right:10px;
}

.list{
margin-top:12px;
}

